# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.CryptoApp.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Skolarbete\Rider Projekt\crypto-app\.idea\.idea.CryptoApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
