# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.crypto-app.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Skolarbete\Rider Projekt\crypto-app\.idea\.idea.crypto-app.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
